.scrollBar {
 
  top:absolute;
  height: calc(100vh -10vh - 5vh);
  width: 30px;
  right: 5px;
  position:absolute;
 
}
.scrollBar ul {
  list-style-type: none;
  top:absolute;
  text-align:center;
} 
.container{
  right: 5px;
  overflow: auto;
  position: relative;
  padding-right:40px;
  flex-grow:1;
  display: flex;
  flex-direction: column;

}

a:link{
  text-decoration: none!important;
    
  }
a {
  color: rgb(116, 27, 27);
  text-decoration: none;
}

.font-weight-bold
{
background-color: #488690    
}
h1 {
  background-color :#488690;
  text-align: center;
  text-shadow: 2px 1px 2px black;
  font-family: 'Open Sans', sans-serif;
}

.italic {
  font-style: italic; 
}
.pied
{
background-color:#488690;
height: 30vh;

}

.context-dark, .bg-gray-dark, .bg-primary {
 color: rgba(255, 255, 255, 0.8);
}

.footer-classic a, .footer-classic a:focus, .footer-classic a:active {
    color: #ffffff;
}
.nav-list li {
  padding-top: 5px;
  padding-bottom: 5px;
}

.nav-list li a:hover:before {
  margin-left: 0;
  opacity: 1;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 23px;
  font: 900 13px/1 "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  text-transform: uppercase;
  color:#488690;
}
.social-container .col {
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.nav-list li a:before {
  content: "\f14f";
  font: 400 21px/1 "Material Design Icons";
  color: #4d6de6;
  display: inline-block;
  vertical-align: baseline;
  margin-left: -28px;
  margin-right: 7px;
}

.back {
  color: #488690;
  text-decoration: none;
}


