a:link{
    text-decoration: none!important;
    
  }
a
{
color: #33ffbe;
}
h1
{
    text-align:center; 
}

section
{
 text-align: center;   
}
#pied
{
 background-color: gray;  
 color:whitesmoke; 
}
body 
{
  background: url(https://setup-cae.fr/wp-content/uploads/2018/05/rayure-bleu.png);
  background-position: initial;
  margin: 20vh
}
p {
  text-decoration: underline;
  color: black;
}