a:link{
    text-decoration: none!important;
    
  }
a
{
color: #33ffbe;
}
h1
{
    text-align:center; 
}

section
{
 text-align: center;   
}
#pied
{
 background-color: gray;  
 color:whitesmoke; 
}

