.scrollBar {
  position:fixed;
  z-index: 1;
  right: 0;
  top: 0;
  height: 100vh;
  background-color: white;
  border-left: 1px solid grey;
}
.scrollBar ul {
  list-style-type: none;
  padding-left: 0;
  text-align:center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}
.scrollBar .btn {
  font-size: .9rem;
  padding-top: 0;
  padding-bottom: 0;
}
.container {
  overflow: auto;
  position: relative;
}
.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-right: 40px; 
}
.center {
  flex-grow:1;
}
a:link{
  text-decoration: none!important;
    
}
a {
  color: rgb(116, 27, 27);
  text-decoration: none;
}

.font-weight-bold {
background-color: #488690    
}
h1 {
  background-color :#488690;
  text-align: center;
  text-shadow: 2px 1px 2px black;
  font-family: 'Open Sans', sans-serif;
}

.italic {
  font-style: italic; 
}
.pied {
background-color:#488690;

}


.social-inner {
  display: flex;
  flex-direction: column;
  font: 900 13px/1 "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  text-transform: uppercase;
  color:#488690;
}
.social-container .col {
  border: 1px solid rgba(255, 255, 255, 0.1);

}
.nav-list li a:before {
  content: "\f14f";
  font: 400 21px/1 "Material Design Icons";
  color: #4d6de6;
  display: inline-block;
  vertical-align: baseline;
  margin-left: -28px;
  margin-right: 7px;
}
.back {
  color: #488690;
  text-decoration: none;
}

.social-inner {
  color: rgb(116, 27, 27);
  text-decoration: none;
}
